.display-LP {
  max-width: 1300px;
  margin-inline: auto;
}
.top-img {
  border-radius: 25px;
  overflow: hidden;
}
.bottom-content {
  border-radius: 20px;
}
@media screen and (max-width: 991px) {
  .display-LP {
    display: flex;
    flex-direction: column;
  }
  .link {
    margin-inline: 5px;
  }
  .lastestproducts{
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .link {
    margin-inline: 2px;
  }
  .lastestproducts{
    display: block;
  }
}
